
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recruit.me</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'login:index' %}">Home</a></li>
      <li class="active"><a href="{% url 'login:index' %}">Profile</a></li>
      <li class="active"><a href="{% url 'forum:index' %}#forum">Forum</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="javascript:void(0);" onclick="logout()">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>

