body{
    font-family: "Source Code Pro",Arial, Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin: 0;
	background-color:#f4f4f4;
}

.img-circle {
    border-radius: 50%;
}

.tanggapan-btn{
	box-sizing: border-box;
    margin: 0.2em;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    padding-left: 15px;
	padding-right: 15px;
    font-size: 18px;
}

.tanggapan{
    background: navajowhite;
    margin-top: 20px;
    margin-bottom: 20px;
	padding: 15px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.53);
    color: rgba(26, 26, 26, 0.89);
}

.reply-message{
	font-size: 20px;
}

.reply-info{
	margin-top: 25px;
	font-size: 15px;
}

.imgtofit{
	width: 375px;
	max-width: 375px;
    height: 200px;
    background-position: center;
    background-size: cover;

}

.container{
	width: 80%;
	margin:auto;
	overflow:hidden;
}

.jobtitle{
	background-color: #f4f4f4;
	height: 35px;
}

.jobtitle h1{

	font-size: 30px;
	text-align: center;
}

.megaphone{
	float:left;
	width: 50%;
	padding-left: 150px;
	padding-right: 50px;
}

.listjobs{
	float:left;
	margin-top: 50px;
}

.listjobs h1{
	color:black;
	font-size: 20px;
}

.footer{
	background-color: #f4f4f4;
	height: 35px;

}

#showcase{
	min-height: 600px;
	background-color: black;
	background:url('https://imgur.com/bPk5Ut1.jpg') no-repeat 0 -550px;
	text-align: center;
	color:white;
}

#showcase h1{
	margin-top:200px;
	font-size: 55px;
	margin-bottom:10px;
}

#showcase p{
	font-size: 20px;
}

#linkedInbutton{
	margin-top: 30px;
}
#linkedInbutton button{
	color:black;
	background-color: #f4f4f4;
}